.navm {
    height: 100px;
    position: fixed;
    width: 100%;
    background: #f7f7f700;
    transition: all 5s;
}

.fulltitlem {
    position: fixed;
    top: 35px;
    /* transform: translateY(-50%); */
    left: 50px;
    display: inline-block;
    opacity: 0;
    transition: all 5s;
}

.titlefm {
    position: fixed;
    top: 35px;
    /* transform: translateY(-50%); */
    left: 50px;
    font-size: 30px;
    transition: all 5s;
}

.titlehm {
    position: fixed;
    top: 35px;
    /* transform: translateY(-50%); */
    left: 64px;
    font-size: 30px;
    transition: all 5s;
}

.titlesm {
    position: fixed;
    top: 35px;
    /* transform: translateY(-50%); */
    left: 84px;
    font-size: 30px;
    transition: all 5s;
}

.titlefmt {
    position: fixed;
    top: 34px;
    font-size: 30px;
    transform: translateX(-50%);
    left: 48%;
    z-index: 5;
    color: white;
    color: wheat;
    /* background-color: black; */
    font-size: 56px;
    -webkit-text-stroke: 1px #282828;
    text-shadow: 0px 4px 4px #282828;
    transition: all 5s;
}

.titlehmt {
    position: fixed;
    top: 34px;
    font-size: 30px;
    transform: translateX(-50%);
    left: 50.5%;
    z-index: 5;
    color: white;
    color: wheat;
    /* background-color: black; */
    font-size: 56px;
    -webkit-text-stroke: 1px #282828;
    text-shadow: 0px 4px 4px #282828;
    transition: all 5s;
}

.titlesmt {
    position: fixed;
    top: 34px;
    font-size: 30px;
    transform: translateX(-50%);
    left: 53%;
    z-index: 5;
    color: white;
    color: wheat;
    /* background-color: black; */
    font-size: 56px;
    -webkit-text-stroke: 1px #282828;
    text-shadow: 0px 4px 4px #282828;
    transition: all 5s;
}

.titlebgm {
    opacity: 100;
    width: 200px;
    height: 200px;
    background: white;
    position: fixed;
    border-radius: 50%;
    top: -65px;
    left: 50%;
    transform: translateX(-48%);
    transition: all 5s;
}

.bgm {
    background-color: #78cf78;
    transition: all 5s;
}

.servicetextm {
    position: fixed;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    z-index: 0;
    opacity: 100;
    transition: all 3s;
}