.nav {
    height: 100px;
    position: fixed;
    width: 100%;
    background: #f7f7f7;
    transition: all 5s;
}

.title{
}

.fulltitle {
    position: fixed;
    top: 35px;
    /* transform: translateY(-50%); */
    left: 50px;
    display: inline-block;
    transition: all 5s;
}

.titlef {
    position: fixed;
    top: 35px;
    /* transform: translateY(-50%); */
    left: 50px;
    transition: all 5s;
}

.titleh {
    position: fixed;
    top: 35px;
    /* transform: translateY(-50%); */
    left: 117px;
    transition: all 5s;
}

.titles {
    position: fixed;
    top: 35px;
    /* transform: translateY(-50%); */
    left: 151px;
    transition: all 5s;
}

#logo {
    position: fixed;
    width: 100px;
    top: 5px;
    transform: translateX(-50%);
    left: 50%;
}

.titlebg {
    opacity: 0;
    width: 200px;
    height: 200px;
    background: white;
    position: fixed;
    border-radius: 50%;
    top: -65px;
    left: 50%;
    transform: translateX(-48%);
    transition: all 5s;
}

.bg {
    background-color: white;
    transition: all 5s;
}